@using WebBootstart01.ViewModels
@model EmployeeListViewModel

@{
    //@model Employee
    Layout = null;
    //Employee emp = (Employee)ViewData["EmpKey"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <h1>你好,@Model.UserName</h1>
    <hr />
    <div> 
        <table>
            <tr>
                <th>名字</th>
                <th>工资</th>
                <th>级别</th>
            </tr>
            @foreach(EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td>@item.Salary</td>
                    <td>@item.SalaryGrade</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
